@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-color: rgb(26, 26, 26);
  --secondary-color: rgb(245, 245, 245);
  --font-family: Nunito, sans-serif;
  --box-shadow: rgb(0 0 0) 1px 1px 3px 0px inset,
    rgb(48 48 48 / 50%) -1px -1px 3px 1px inset;
  --all-transition: transform ease-in-out 0.3s 0s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

.main-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 230px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: var(--primary-color);
}

form {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
}

form > label {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--secondary-color);
  margin-top: 10px;
  font-weight: bold;
  flex-direction: column;
}

form > label > input {
  background-color: var(--primary-color);
  width: 250px;
  height: 30px;
  color: var(--secondary-color);
  border: none;
  border-radius: 20px;
  padding-left: 15px;
  margin-left: 15px;
  margin: 5px 0;
  box-shadow: var(--box-shadow);
}

form > p {
  color: var(--secondary-color);
  font-weight: bold;
}

form > button {
  width: 170px;
  height: 30px;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 20px;
  border: none;
  box-shadow: var(--box-shadow);
  transition: var(--all-transition);
  cursor: pointer;
  margin-bottom: 10px;
}
/* NTH CHILD */
form > label > input::placeholder {
  color: var(--secondary-color);
}

/* Animations */
form > button:hover {
  transform: scale(1.07);
}

form > button:active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  box-shadow: none;
}
