@media screen and (max-width: 550px) {
  .inputs-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputs-container > input {
    margin: 5px 0;
    width: 85%;
  }
}

@media screen and (max-width: 300px) {
  .container > button {
    width: 85%;
  }
}
